/Chaitanya_Photo-removebg.png
/day1.html
/day2.html
/day3.html
/day3_part1.css
/day3_part2.css
/day4.txt
/day4_part1.css
/day4_part1.html
/day4_part2.css
/day4_part2.html
/icon-one.jpg
/icon-two.webp
/person.png
/Portfolio.css
/Portfolio.html